header {
  background:black;
  height: 100px;
  position: fixed;
  width: 100%;
}

header ul li {
  display: inline-block;
  margin-top: 40px;
  margin-right: 75px;
  margin-left: 40px;
}

.force {
  display: flex;
  padding-top: 100px;
  }

/* .force img {
} */

#questions {
  padding-top: 300px;
  margin-left: 100px;
}